<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap" rel="stylesheet">
  <title>ScrollTabs</title>
  <style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Noto Sans HK', sans-serif;


    }

    .logo {
      width: 100%;
      max-width: 300px;
    }

    .basic-instructions {
      font-size: 1.4em;
      margin: 3em auto;
      margin-bottom: 6em;
      text-align: center;
    }
  </style>
</head>

<body>
  <img class="logo" src="../icons/logo.png" alt="ScrollTabs logo">
  <div>
    <p class="basic-instructions">- Hold down the <b>Shift</b> key and scroll the page to change tabs. -</p>
    <hr>
    <h3>Limitations</h3>
    <p>On some pages the extension will not work. Some are addons.mozilla.org or about:// .<br>
      Also, the tab must be loaded</p>
  </div>
</body>

</html>